body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#background-image {
  height: 99vh;
  background-image: url("./assets/kasteel.jpeg");
  background-size: cover;
  background-position: left bottom;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -100;
}

#main-nav,
#main-nav p {
  background-color: white;
  color: #0c0c0c;
}

#main-nav li:hover {
  background-color: white;
}

#main-nav li:hover p {
  border-bottom: 1px solid white;
  font-weight: 500;
}

.home-content {
  min-height: 90vh;
  padding-top: 5%;
}

#home-card {
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 10%;
  color: black;
  z-index: 100;
  border: none;
  border-radius: 0;
  padding-bottom: 20px;
}

#wijn-card {
  padding-top: 5%;
  width: 80%;
  margin-left: 10%;
  border: none;
}

#benefiet-card {
  padding-top: 5%;
  width: 80%;
  margin-left: 10%;
  border: none;
  box-shadow: none;
}

#info-card {
  width: 80%;
  margin-left: 10%;
  text-align: left;
}

#code-card {
  width: 80%;
  margin-left: 10%;
}

#footer {
  background-color: white;
  color: #0c0c0c;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.kentaa-donate-button .kentaa-donate-button-trigger {
  background-color: rgb(25, 118, 210) !important;
  color: #fff !important;
}

/* @media only screen and (max-width: 600px) {
  .MuiTypography-h1 {
    font-size: 2rem !important;
  }
} */
